* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background-size: cover;
    background-position: center center;
  }
  
  
  h2 {
    font-size: 50px;
  }
  
  h3 {
    font-size: 5rem;
  }
  
  h4 {
    font-size: 4.5rem;
  }
  
  h5 {
    font-size: 4rem;
  }
  
  h6 {
    font-size: 3.5rem;
  }
  .cabecalho{
    width:100%;
    position:fixed;
    align-items: center;
    display:flex;
    justify-content: space-between;
    background-color: #C0C0C0;
    height:60px;
  }
  .navegacao{

    padding-left:200px;
    display:flex;
    list-style: none;
  }
  .logo {
    font-weight: 500;
    border: 1px solid black;
    padding: 8px 30px; 
    margin-top:10px;
    margin-left:10px;
    font-size:20px;
  }
  a{
    display:block;
    padding-right:20px;
    font-size:15px;
    color:black;
    text-decoration:none;
  }
.pesquisar{
  border-radius: 4px;
  color:black;
  background-color: transparent;
  border: 0.2px solid black;
  padding:10px;
  padding-right: 50px;
}
.div-pesquisar{
  margin-right: 60px;

}
.logo-div{
  padding-left:20px;
  padding-bottom: 10px;
}
.pesquisar::placeholder{
  color: rgb(59, 58, 58);

}
.titulo-lancamentos{
  padding-top:30px;
  font-size:35px;
}
.div-lancamentos-titulo{
  padding-left: 45%;
  padding-top: 60px;
}
.nome-do-filme{
  font-size:27px;
  padding-bottom: 20px;
}
.grid-lancamentos{
 padding-top:60px;
 display:grid;
 grid-template-columns: 60% 40%;
}
.section-lancamentos{
  background-color:#eeee;
  height:600px;
}
.material-icons{
  position: absolute;
  top: 49%;
  left: 93%;
  transform: translateY(-50%);
}
p{
  font-size:15px;
}
.dre{
  display:flex;
}
.dre p{
  margin-right:20px;
}
.nomes{
  display:flex;
}
.nomes p{
  margin-right:20px;
}
.video-iframe{
  padding-left:40px;
  display:flex;
}
.filme{
  padding-right: 30px;
}
.destaque-select{
  display:flex;
  justify-content:space-between;
}
.titulo-em-destaque{
  font-size:30px;
  padding-left:200px;
  padding-top:80px;
}
.section-destaque{
  height:600px;
}
.select-time{
  text-align: center;
  margin-right:200px;
  margin-top:80px;
  padding-right:90px;
}
.grid-destaques{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top:60px;
}
.img-grid{
  margin-left:15px;
  margin-right:15px;
}
.mais-filmes-buttom{ 
 position: absolute;
 top: 180%;
 left: 70%;
 background-color: rgb(104, 101, 101);
 border: 2px solid black;
 border-radius: 5%;
 height:30px;
 padding-left:5px;
}
.mais-filmes-buttom a{
  color:white;
  
}
.img-grid{
  height:270px;
}
.titulo-avaliacoes{
  font-size:30px;
  padding-left:200px;
}
.grid-avaliacoes{
  padding-left:20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.nome-avaliador{
  margin-right:20px;
  font-size:20px;
  padding-bottom: 20px;
  padding-top: 60px;
}
.avaliacao{
  margin-right:30px;
  font-size: 12px;

}
.data{
  align-items: center;
  display:flex;
}
.space1{
  width:10px;
}
.mais-avaliacoes-buttom{
 position: absolute;
 top: 250%;
 left: 70%;
 background-color: rgb(104, 101, 101);
 border: 2px solid black;
 border-radius: 5%;
 height:30px;
 padding-left:0px;

}
.mais-avaliacoes-buttom a{
  color:white;
}
.Entrevistas{
  background-color:#eeee;
  height:600px; 
}
